#footer {
    min-height: 350px;
    background-color: #000;
    
}
#footer .footer-layout ul{
    list-style: none;
}

  
  #ft-1 {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    padding-top: 10px;
    
  }
  
  #ft-1 li {
    list-style: none;
    margin: 0 15px;
  }
  
  #ft-1 li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  #ft-1 li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  #ft-1li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  #ft-1 li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  .ft-left{
    float: left;
    width: 50%;
    min-width: 350px;
    padding-left: 20%;
    padding-top: 40px;
  }
  .ft-container{
    size: 40px;
  }
  .ft-left h3{
    color: white;
  }
  .ft-right{
    float: left;
    width: 50%;
    min-width: 350px;
    padding-top: 40px;
    padding-left: 5%;
  }
  .ft-right h3{
    color: white;
  }
  